<!DOCTYPE html>
<html>
<head>
  <title>Carets</title>
  <%= stylesheet_link_tag    "carets/application", media: "all" %>
  <%= javascript_include_tag "carets/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
